.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.m-5 {
  margin: 1.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.rounded {
  border-radius: 0.25rem
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.p-5 {
  padding: 1.25rem
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.text-justify {
  text-align: justify
}

.text-start {
  text-align: start
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-pink-500 {
  --tw-text-opacity: 1;
  color: rgb(236 72 153 / var(--tw-text-opacity))
}
